body {
background-color: rgb(58, 58, 58);
font-family: Georgia, serif;
font-weight: 500;
font-size: 500;
}

.c1 {
    float: right;
    background-color: rgb(77, 77, 43);
    padding: 100px;
    width: 20%;
    height: 25%;
    }

.c2 {
    float: left;
    background-color: rgb(124, 103, 63);
    padding: 100px;
    width: 20%;
    height: 25%;
    }

.c3 {
    display: block;
    clear: both;
    background-color: rgb(136, 93, 136);
    padding: 100px;
    width: 20%;
    height: 25%;
    }
